* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));

    color: #fff;
}

.weather-status {
    padding-top: 30px;
    height: 450px;
    margin-top: 2rem;
    line-height: 5rem;
    border-radius: 8px;
    text-align: center;
    width: 350px;
    box-shadow: 5px 2px 35px rgb(141, 140, 140);
}

#show-weather-icon {
    width: 7rem;
}

.citySearch, #webTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#webTitle{
    font-size: 2.5rem;
    padding: 1rem;
    color: #fff;
}

#city,
#searchBtn {
    padding: 1rem;
    text-align: center;
    border: none;

    cursor: text;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

#searchBtn {
    background: linear-gradient(rgb(48, 62, 143), rgb(47, 150, 163));
    box-shadow: 5px 2px 35px rgb(141, 140, 140);
}

#searchBtn:hover {
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));

}

p{
    text-align: center;
    padding: 1.5rem;
}

